.container{
    margin: 5px;
}
.container_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 24px;
    color: #A6A6A6;
}
.box_a{
    min-height: 200px;
    min-width: 100%;
}
.content{
    flex-grow: 8;
}
.content_three{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    order: 1;
}
.box_b{
    min-height: 200px;
    flex-grow: 10;
    margin-bottom: 10px;
}
.box_f{
    flex-grow: 3;
}
.content_three{
    display: flex;
    gap: 10px;
}
.content_three > .box{
    flex-grow: 1;
    min-height: 200px;
}